export(alpha1MR)
export(alphaMLG)
export(compute.fisher)
export(compute.normalInv)
export(keggPathwayGraphs)
export(keggPathwayNames)
export(pe)
export(peEdgeRenderInfo)
export(peNodeRenderInfo)
export(setEdgeWeights)
export(setNodeWeights)
exportClasses(pePathway)
exportClasses(peRes)
exportMethods(nodeWeights)
exportMethods(plot)
exportMethods(Summary)
import(boot)
import(graph)
import(KEGGREST)
import(KEGGgraph)
import(parallel)
importMethodsFrom(KEGGgraph)
